<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883850492474-3sagf0ad0m5ee5v32a52g0vqc856s10j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883850492474-3sagf0ad0m5ee5v32a52g0vqc856s10j</string>
	<key>API_KEY</key>
	<string>AIzaSyDuAPrDgVMapukOMBsbBqsYVRbiD87y4lA</string>
	<key>GCM_SENDER_ID</key>
	<string>883850492474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rr.receiptReader</string>
	<key>PROJECT_ID</key>
	<string>capstone-35a6c</string>
	<key>STORAGE_BUCKET</key>
	<string>capstone-35a6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883850492474:ios:9f5033dfcf27f9c9055303</string>
</dict>
</plist>